In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(49, 5)

In [9]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
df['Area'] = lab.fit_transform(df['Area'])

# For X1

In [10]:
x1 = df['Marketing Spend']
y1 = df['Profit']

In [11]:
x1.head()

0    114523.61
1    162597.70
2    153441.51
3    144372.41
4    142107.34
Name: Marketing Spend, dtype: float64

In [12]:
y1.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [13]:
x1.shape

(49,)

In [14]:
m1 = 0
c = 0
l = 0.0001
n = int(len(x1))
iteration = 27

#loop
for i in range(iteration):
    predy1 = (m1*x1) + c
    der_m1 = (-2/n) * sum(x1*(y1-predy1))
    der_c1 = (-2/n) * sum(y1-predy1)
    
    m1 = (m1 - (l * der_m1))
    c = (c - (l * der_c1))
    
    print(m1,c)

1989015.952038689 22.358592244897963
-2983676685979.3096 -29223560.634441577
4.4757471611980636e+18 43837623197910.93
-6.713968958197818e+24 -6.5759845395981705e+19
1.0071475788989303e+31 9.864488425801201e+25
-1.510799725166216e+37 -1.4797500103111857e+32
2.2663171290722725e+43 2.219740141099215e+38
-3.3996520147376305e+49 -3.329782909054334e+44
5.099742517518195e+55 4.994933423125756e+50
-7.650010539972851e+61 -7.492788744160037e+56
1.1475610986371122e+68 1.1239766060681263e+63
-1.721430929047961e+74 -1.6860523553037212e+69
2.5822803221565154e+80 2.5292097090612573e+75
-3.873621386531374e+86 -3.7940113379559982e+81
5.810733450372389e+92 5.691312183789352e+87
-8.716552254868422e+98 -8.537411063932039e+93
1.3075506536439496e+105 1.2806780812719313e+100
-1.9614277088625418e+111 -1.9211167595987433e+106
2.942294163803283e+117 2.8818246036862654e+112
-4.413670158341562e+123 -4.322961113590057e+118
6.620848624276868e+129 6.4847779999196245e+124
-9.93178804327783e+135 -9.727671520347926e+130
1.489845476528622e+142 1.4592264100476693e+137
-2.2348841258600213e+148 -2.188953143952837e+143
3.352500064408631e+154 3.2836000180838875e+149
-5.029010923568495e+160 -4.925655493607412e+155
7.543907646078593e+166 7.38886646000897e+161

# For X2

In [15]:
x2 = df['Administration']
y2 = df['Profit']

In [16]:
x2.head()

0    136897.80
1    151377.59
2    101145.55
3    118671.85
4     91391.77
Name: Administration, dtype: float64

In [17]:
y2.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [18]:
m2 = 0
c = 0
l = 0.0001
n = int(len(x2))
iteration = 44

#loop
for i in range(iteration):
    predy2 = (m2*x2) + c
    der_m2 = (-2/n) * sum(x2*(y2-predy2))
    der_c2 = (-2/n) * sum(y2-predy2)
    
    m2 = (m2 - (l * der_m2))
    c  = (c - (l * der_c2))
    
    print(m2, c)

2742307.6970905378 22.358592244897963
-8407399088251.675 -66192747.26003359
2.5775511099522097e+19 202934571487516.28
-7.902288989348709e+25 -6.221593913820445e+20
2.4226938131341127e+32 1.907424178382007e+27
-7.427525518377753e+38 -5.84780531592451e+33
2.2771402241203785e+45 1.7928275944348545e+40
-6.981285473172697e+51 -5.496473650745864e+46
2.140331383270827e+58 1.6851158854941068e+53
-6.561855188156535e+64 -5.166249722964202e+59
2.01174191281241e+71 1.5838754135417613e+66
-6.167623953467819e+77 -4.855865395880842e+72
1.890877999266356e+84 1.488717391615177e+79
-5.797077829460106e+90 -4.564128721478841e+85
1.7772754970895405e+97 1.3992763907746974e+92
-5.448793832821545e+103 -4.289919363065322e+98
1.670498146247628e+110 1.3152089367715175e+105
-5.121434471987954e+116 -4.0321842929179714e+111
1.570135896875065e+123 1.236192191026671e+118
-4.813742610864091e+129 -3.789933748413639e+124
1.4758033345882053e+136 1.1619227108557888e+131
-4.524536641128606e+142 -3.5622374311096155e+137
1.387138200404425e+149 1.0921152841786043e+144
-4.252705944583232e+155 -3.3482209341812166e+150
1.3037999995833623e+162 1.0265018342382219e+157
-3.9972066281205486e+168 -3.147062384496168e+163
1.2254686940479075e+175 9.648303901240065e+169
-3.757057514931632e+181 -2.9579892864306064e+176
1.1518434733635411e+188 9.068641191446794e+182
-3.5313363765588524e+194 -2.7802755553061673e+189
1.0826415995562925e+201 8.523804173356883e+195
-3.3191763913240836e+207 -2.613238729055949e+202
1.0175973213331469e+214 8.011700546082018e+208
-3.119762815531817e+220 -2.4562373474113882e+215
9.56460853535265e+226 7.530363712569009e+221
-2.932329854663844e+233 -2.308668488545644e+228
8.989974179048666e+239 7.077945227409604e+234
-2.7561577225501704e+246 -2.1699654537135118e+241
8.449863414821072e+252 6.652707698380149e+247
-2.5905698772226896e+259 -2.0395955909964306e+254
7.94220209169581e+265 6.253018114451319e+260
-2.4349304228366484e+272 -1.917058249795204e+267
7.465040672100968e+278 5.877341574645874e+273
-2.288641667682683e+285 -1.8018828582152387e+280

# For X3

In [19]:
x3 = df['Transport']
y3 = df['Profit']

In [20]:
x3.head()

0    471784.10
1    443898.53
2    407934.54
3    383199.62
4    366168.42
Name: Transport, dtype: float64

In [21]:
y3.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [22]:
m3 = 0
c = 0
l = 0.0001
n = int(len(x3))
iteration = 39

#loop
for i in range(iteration):
    predy3 = (m3*x3) + c
    der_m3 = (-2/n) * sum(x3*(y3-predy3))
    der_c3 = (-2/n) * sum(y3-predy3)
    
    m3 = (m3 - (l * der_m3))
    c  = (c - (l * der_c3))
    
    print(m3, c)

5561130.85244692 22.358592244897963
-67173244354348.83 -239497543.45386034
8.113898504394228e+20 2892905976758492.5
-9.800829120642025e+27 -3.4943593545000485e+22
1.1838483239592375e+35 4.2208586786024644e+29
-1.429977848699894e+42 -5.0984017890978185e+36
1.7272792522387237e+49 6.158391640746049e+43
-2.086391490558328e+56 -7.438760060438852e+50
2.5201654256150236e+63 8.985325140847441e+57
-3.0441236945256764e+70 -1.0853430844761254e+65
3.677016188455647e+77 1.3109927493498026e+72
-4.441491019067014e+84 -1.5835564011331403e+79
5.36490498311846e+91 1.9127877532605984e+86
-6.480302527761342e+98 -2.310468377637603e+93
7.827598248888276e+105 2.7908293091920746e+100
-9.45500523833805e+112 -3.371060304668309e+107
1.1420760393482983e+120 4.0719249795324087e+114
-1.3795208429548848e+127 -4.918503835715701e+121
1.6663319171225299e+134 5.9410917695070275e+128
-2.0127728205060924e+141 -7.176282176990122e+135
2.4312409702647214e+148 8.668276451831225e+142
-2.9367112846881025e+155 -1.0470465735906534e+150
3.5472720619196406e+162 1.2647341525849984e+157
-4.2847722712421926e+169 -1.5276803506739202e+164
5.175603420300016e+176 1.8452947198943796e+171
-6.251643977441876e+183 -2.2289431174315666e+178
7.551400145419133e+190 2.6923544337838432e+185
-9.121383809122436e+197 -3.2521118822755605e+192
1.1017776967333914e+205 3.928246430754666e+199
-1.3308442210326493e+212 -4.7449536114788745e+206
1.6075351188422018e+219 5.731459360293002e+213
-1.9417517974461828e+226 -6.923065869226045e+220
2.3454542290815052e+233 8.362414878432007e+227
-2.833088939560405e+240 -1.0101013614483885e+235
3.422105978423926e+247 1.2201077980852348e+242
-4.133583370447199e+254 -1.4737758959296903e+249
4.992981394546678e+261 1.780183189413261e+256
-6.031053682024132e+268 -2.1502944895638015e+263
7.284947737875415e+275 2.597354260699663e+270

# For X4

In [23]:
x4 = df['Area']
y4 = df['Profit']

In [24]:
m4 = 0
c = 0
l = 0.0001
n = int(len(x4))
iteration = 5

#loop
for i in range(iteration):
    predy4 = (m4*x4) + c
    der_m4 = (-2/n) * sum(x4*(y4-predy4))
    der_c4 = (-2/n) * sum(y4-predy4)
    
    m4 = (m4 - (l * der_m4))
    c  = (c - (l * der_c4))
    
    print(m4, c)

22.905516367346934 22.358592244897963
45.79917292352185 44.70822515997702
68.68097529641345 67.04890286065798
91.55092911126641 89.38062946043593
114.40903999068273 111.70340907088122

In [25]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

# For the 1st iteration of all m

In [26]:
lst_iter = 1989015.952038689*114523.61+2742307.6970905378*136897.80+5561130.85244692*471784.10+22.905516367346934*1+c
lst_iter

3226858292168.33

# For the last iteration of all m

In [27]:
last_iter = 7.543907646078593*114523.61+7.465040672100968*136897.80+7.2849477378754*471784.10+114.4090399*1+c
last_iter

5323051.806566219

# Using Linear Regression

In [28]:
x = df.drop(['Profit'], axis=1)
y = df['Profit']

In [29]:
x.head()

   Marketing Spend  Administration  Transport  Area
0        114523.61       136897.80  471784.10     1
1        162597.70       151377.59  443898.53     0
2        153441.51       101145.55  407934.54     2
3        144372.41       118671.85  383199.62     1
4        142107.34        91391.77  366168.42     2

In [30]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [32]:
lr.fit(x,y)

LinearRegression()

In [33]:
lr.predict([[114523.61, 136897.80, 471784.10, 1]])

C:\Users\Raju\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([160343.7626865])

In [34]:
lr.intercept_

42052.593465758764

In [35]:
lr.coef_

array([ 6.73010330e-01,  3.06919557e-02,  7.96653807e-02, -5.70924523e+02])

In [36]:
lr.score(x,y)

0.9044981687538611